{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" id="container-login">
                <form method="post" action="{{ url_for('login_app.do_login') }}">
                    <div class="form-group">
                        <label for="emailaddress">Endereço de e-mail:</label>
                        <input type="email" name="emailaddress" class="form-control" id="username"
                               value="{{  emailaddress }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Senha:</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-default">Efetuar login</button></div>
                </form>
                {%  if error %}
                <div id="mensagem_erro" class="text-danger bg-danger">Credenciais de acesso inválidas. Por favor, tente novamente.</div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('#btn-incluir-xpromo').remove();
        $('#btn-nav-editor').remove();
        $('#btn-nav-login').remove();
    </script>
{% endblock %}