{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
{% endblock %}

{% block title %}{{ super() }}{% endblock %}

{% block styles %}{{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename="css/main.css") }}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-brand">Registro de XPromo - Empiricus</div>
            <div class="navbar-right navbar-nav">
                {% if 'fullname' in session %}
                    Olá, {{ session['fullname'] }}. Efetuar
                    <a href="{{ url_for('login_app.clear_session') }}">[logoff]</a>.
                {% endif %}
                <input type="hidden" value="{{ '1' if 'fullname' in session else 0 }}" name="is_logged" id="is_logged"/>
                <button class="btn btn-default navbar-btn btn-primary" id="btn-nav-login">Efetuar login</button>
                <button class="btn btn-default navbar-btn btn-primary" id="btn-nav-editor">Editar parâmetros</button>
                <button class="btn btn-default navbar-btn btn-primary" id="btn-incluir-xpromo">Incluir XPromo</button>
                <button class="btn btn-default navbar-btn btn-primary" id="btn-exibir-listagem">Exibir Lista</button>
                <button class="btn btn-default navbar-btn btn-primary" id="btn-incluir-lote">Incluir por lote</button>
            </div>
        </div>
    </nav>{{ super() }}{% endblock %}

{% block scripts %}{{ super() }}
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#is_logged').val() != '1') {
                $('#btn-nav-login').on('click', function () {
                    window.location = '{{ url_for('login_app.form_login') }}';
                });
                $('#btn-nav-editor').hide();
            }
            else {
                $('#btn-nav-editor').on('click', function () {
                    window.location = '{{ url_for('gerador_app.editar_parametros') }}';
                });
                $('#btn-nav-login').hide();
            }

            $('#btn-incluir-lote').on('click', function() {
                window.location = '{{ url_for('gerador_app.form_gravar_lote') }}';
            });
            $('#btn-exibir-listagem').on('click', function() {
                window.location = '{{ url_for('gerador_app.index', page=1) }}';
            });
            $('#btn-incluir-xpromo').on('click', function() {
                window.location = '{{ url_for('gerador_app.index') }}';
            });
        });
    </script>
{% endblock %}