{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container">
        <h3>Editor</h3>

        {% for parametro in parametros %}
            <div class="row row-titulo">
                <div class="col-md-12 parametro-nome bg-info"
                     id="header_{{ parametro.name }}">{{ parametro.display_name }}
                    <div class="titlearea tag-abrir"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
                    <div class="titlearea tag-fechar"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
                </div>
            </div>
            <div class="row row-conteudo">
                <div class="col-md-12 parametro-conteudo">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="add_{{ parametro.name }}_code">Novo {{ parametro.display_name }}: </label>
                            <input name="add_{{ parametro.name }}_code"
                                   class="form-control input-sm parametro-code"
                                   id="add_{{ parametro.name }}_code"
                                   placeholder="Codigo">
                            <input name="add_{{ parametro.name }}_description"
                                   class="form-control input-sm parametro-description"
                                   id="add_{{ parametro.name }}_description"
                                   placeholder="Descricao">
                            <button class="btn btn-success btn-sm btn-gravar">Incluir</button>
                        </div>
                        <div id="error_{{ parametro.name }}" class="bg-danger text-danger form-errorMessage">Mensagem de erro</div>
                    </div>
                    {% if parametro.items %}
                        <p>Existentes:</p>
                        <ul>
                            {% for item in parametro.items %}
                                {% if item.code %}
                                    <li>({{ item.code }}) {{ item.description }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            // todos os forms fechados, inicialmente.
            $('.row-conteudo').hide();
            $('.tag-fechar').hide();
            $('.form-errorMessage').hide();

            // botao "incluir xpromo"
            $(document).ready(function () {
                $('#btn-incluir-xpromo').on('click', function () {
                    window.location = '{{ url_for('gerador_app.index') }}';
                })
            });


            $('.row-titulo').on('click', function () {
                $(this).next().toggle(50);
                $(this).children().children('.tag-fechar').toggle();
                $(this).children().children('.tag-abrir').toggle();
            });

            if ($.urlParam("p") != 0) {
                $('#header_' + $.urlParam("p")).click();
            }

            $('.parametro-code,.parametro-description').on('blur', function() {
               $(this).val($(this).val().toUpperCase());
            });

            $('.btn-gravar').on('click', function () {
                var code = $.trim($(this).prev().prev().val());
                var description = $.trim($(this).prev().val());

                $(this).prev().prev().val(code.toUpperCase());
                $(this).prev().val(description.toUpperCase());

                if ($.trim(code).length == 0 || $.trim(description).length == 0) {
                    var divError = $(this).parent().next();
                    divError.html("Um dos campos está em branco.");
                    divError.show();
                    return;
                }
                // verificar se o codigo ou descricao ja existem.
                var parameter = $(this).prev().attr('name').split("_")[1];

                var data = {
                    'code': code,
                    'description': description,
                    'parameter': parameter
                };

                $.ajax({
                    'method': 'POST',
                    'url': '{{ url_for('gerador_app.gravar_parametro') }}',
                    'data': data,
                    'dataType': 'json',
                    'success': function (data) {
                        if (data.success) {
                            alert(data.pname + ' incluído com sucesso.');
                            window.location = '{{ url_for('gerador_app.editar_parametros') }}?p=' + data.pname.toLowerCase()
                        }
                        else {
                            var divErrorName = "#error_" + data.pname.toLowerCase();
                            $(divErrorName).html(data.error);
                            $(divErrorName).show();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}