{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
{% endblock %}
{% block title %}Home{% endblock %}

{% block content %}
    {{ super() }}
    <!-- listagem -->
    <div class="container" id="xpromo-listagem">
        <h3>Ja cadastrados:</h3>
        <div id="container_busca">
            <div class="form-inline" id="form-busca" style="padding-bottom: 24px;">
                <div class="form-group">
                    <label for="busca">XPromo:</label>
                    <input type="text"
                           name="busca"
                           value="{{ termo_busca or "" }}"
                           placeholder="Digite o XPROMO ou fragmento a buscar"
                           style="margin: 0 12px;">
                    <button class="btn btn-info" id="button_busca">buscar</button>
                    <button class="btn btn-danger" id="button_clear">limpar</button>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th class="col-sm-4">XPROMO</th>
                <th class="col-sm-8">Descrição</th>
            </tr>
            {% for xpromo in xpromos: %}
                <tr>
                    <td>{{ xpromo.xpromo }}</td>
                    <td>{{ xpromo.description or ('<i style="color:#cccccc;">«sem descrição»</i>'|safe) }}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="text-center">
            {% if current_page != 1 %}
                <a href="{{ url_for('gerador_app.index', page=1, termo_busca=termo_busca) }}">inicio</a> |
                <a href="{{ url_for('gerador_app.index', page=(current_page - 1), termo_busca=termo_busca) }}">anterior</a>
                |
            {% endif %}
            <b>{{ current_page }}/{{ pages_total }}</b>
            {% if current_page != pages_total %}
                |
                <a href="{{ url_for('gerador_app.index', page=(current_page + 1), termo_busca=termo_busca) }}">proxima</a>
                |
                <a href="{{ url_for('gerador_app.index', page=pages_total, termo_busca=termo_busca) }}">fim</a>
            {% endif %}
        </div>
    </div>
    <div class="container" id="xpromo-formregistro">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="form-horizontal" name="form-xpromo">
                <h3>Novo XPromo: </h3>
                <p id="saida-xpromo" class="bg-info text-info text-center" style="padding: 6px;">-</p>

                <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label">Categoria</label>
                    <div class="btn-group col-sm-9" role="group">
                        <button type="button" data-value="" class="btn-categoria btn btn-default">n/a</button>
                        <button type="button" data-value="#free" class="btn-categoria btn btn-default">Free</button>
                        <button type="button" data-value="#paid" class="btn-categoria btn btn-default">Paid</button>
                    </div>
                </div>
                <input type="hidden" name="categoria" value="" />

                <div class="form-group form-group-sm">
                    <label for="business_unit" class="col-sm-3 control-label">Business Unit</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm" name="business_unit" id="business_unit">
                            <option value="">Selecione</option>
                            {% if business_units %}
                                {% for bu in business_units %}
                                    <option value="{{ bu.code }}">({{ bu.code }}) {{ bu.description }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="department" class="col-sm-3 control-label">Departament</label>
                    <div class="col-sm-9">
                        <select name="department" id="department" class="form-control input-sm">
                            <option value="">Selecione</option>
                            {% if departments %}
                                {% for d in departments %}
                                    <option value="{{ d.code }}">({{ d.code }}) {{ d.description }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="channel" class="col-sm-3 control-label">Channel</label>
                    <div class="col-sm-9">
                        <select name="channel" id="channel" class="form-control input-sm">
                            <option value="">Selecione</option>
                            {% if channels %}
                                {% for c in channels %}
                                    <option value="{{ c.code }}">({{ c.code }}) {{ c.description }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="promotion" class="col-sm-3 control-label">Promotion</label>
                    <div class="col-sm-9">
                        <select name="promotion" id="promotion" class="form-control input-sm">
                            <option value="">Selecione</option>
                            {% if promotions %}
                                {% for c in promotions %}
                                    {% if c.code != "" %}
                                        <option value="{{ c.code }}">({{ c.code }}) {{ c.description }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="target" class="col-sm-3 control-label">Target</label>
                    <div class="col-sm-9">
                        <select name="target" id="target" class="form-control input-sm">
                            <option value="">Selecione</option>
                            {% if targets %}
                                {% for c in targets %}
                                    <option value="{{ c.code }}">({{ c.code }}) {{ c.description }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="date" class="col-sm-3 control-label">Date</label>
                    <div class="col-sm-9">
                        <input type="text" name="date" id="date" class="form-control input-sm">
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="medium" class="col-sm-3 control-label">Medium</label>
                    <div class="col-sm-9">
                        <select name="medium" id="medium" class="form-control input-sm">
                            <option value="">Selecione</option>
                            {% if mediums %}
                                {% for c in mediums %}
                                    <option value="{{ c.code }}">({{ c.code }}) {{ c.description }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="test" class="col-sm-3 control-label">Test</label>
                    <div class="col-sm-9">
                        <select name="test" id="test" class="form-control input-sm">
                            <option value="">Selecione</option>
                            {% if tests %}
                                {% for c in tests %}
                                    <option value="{{ c.code }}">({{ c.code }}) {{ c.description }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="joker" class="col-sm-3 control-label">Joker</label>
                    <div class="col-sm-9">
                        <select name="joker" id="joker" class="form-control input-sm">
                            <option value="">Selecione</option>
                            {% if jokers %}
                                {% for c in jokers %}
                                    <option value="{{ c.code }}">({{ c.code }}) {{ c.description }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="other" class="col-sm-3 control-label">Other</label>
                    <div class="col-sm-9">
                        <select name="other" id="other" class="form-control input-sm">
                            <option value="">Selecione</option>
                            {% if others %}
                                {% for c in others %}
                                    <option value="{{ c.code }}">({{ c.code }}) {{ c.description }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label for="other" class="col-sm-3 control-label">Descrição</label>
                    <div class="col-sm-9">
                        <textarea name="description" id="description" class="form-control input-sm"></textarea>
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <div class="text-center" id="mensagem-erro"></div>
                </div>

                <div class="col-sm-12 text-center" style="padding-top: 12px; padding-bottom: 24px;">
                    <button name="gravar_xpromo" class="btn btn-success">Gravar no banco de dados</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function mostrarListagem() {
            $('#xpromo-listagem').show();
            $('#xpromo-formregistro').hide();
            $('#btn-incluir-xpromo').show();
            $('#btn-exibir-listagem').hide();
        }

        function mostrarForm() {
            $('#xpromo-listagem').hide();
            $('#xpromo-formregistro').show();
            $('#btn-incluir-xpromo').hide();
            $('#btn-exibir-listagem').show();
        }

        function exibirMensagem(mensagem, classecss) {
            var el = $('#xpromo-formregistro #mensagem-erro');
            el.hide(0);
            el.removeClass();
            el.addClass('bg-'+classecss).addClass('text-'+classecss).addClass("text-center");
            el.fadeIn(300);
            el.html(mensagem);
        }

        $(document).ready(function () {
            // ocultar o que eu nao preciso na inicial.
            $('#btn-incluir-xpromo').hide();

            if (window.location.pathname != '/') {
                mostrarListagem();
            }
            else {
                mostrarForm();
            }

            $('button#btn-incluir-xpromo').on('click', function () {
                $('#xpromo-listagem').hide();
                $('#xpromo-formregistro').show();
                $('#btn-exibir-listagem').show();
                $('#btn-incluir-xpromo').hide();
            });

            $('button#btn-exibir-listagem').on('click', function () {
                mostrarListagem();
            });

            $('#container_busca button#button_clear').on('click', function () {
                location.href = "{{ url_for('gerador_app.index', page=1) }}";
            });

            $('#container_busca button#button_busca').on('click', function () {
                var termo_busca = document.getElementsByName('busca')[0].value;
                location.href = "{{ url_for('gerador_app.index', page=1) }}/" + termo_busca;
            });

            $('input[name=date]').datepicker({
                dateFormat: 'yymmdd',
            });

            $('div[name=form-xpromo] select, div[name=form-xpromo] input[name=date]').on('change', function () {
                var saida = '';
                $('div[name=form-xpromo] select, div[name=form-xpromo] input[name=date]').each(function () {
                    // o campo other só deve ser exibido se tiver valor.
                    // não exibir o "x" se não estiver preenchido!
                    if ($(this).attr('name') != 'other') {
                        saida += "-" + ($(this).val() || 'X');
                    } else if ($(this).attr('name') == 'other' && ($(this).val() != "")) {
                        saida += "-" + $(this).val();
                    }
                });
                if (saida.charAt(0) == '-') {
                    saida = saida.substring(1, saida.length);
                }
                $('#saida-xpromo').html(saida);
            });

            $('button[name=gravar_xpromo]').on('click', function () {
                $(this).hide();

                if ($.trim($('textarea[name=description]').val()) == '') {
                    exibirMensagem("<b>ERRO:</b> preencha o campo de descrição.", 'danger');
                    $(this).show();
                    return;
                }
                $.ajax({
                    'method': 'POST',
                    'url': '{{  url_for('gerador_app.gravar') }}',
                    'data': {
                        'xpromo': $('#saida-xpromo').html(),
                        'business_unit': $("#business_unit").val() || 'X',
                        'department': $("#department").val() || 'X',
                        'channel': $("#channel").val() || 'X',
                        'promotion': $("#promotion").val() || 'X',
                        'target': $("#target").val() || 'X',
                        'date': $("#date").val() || 'X',
                        'medium': $("#medium").val() || 'X',
                        'test': $("#test").val() || 'X',
                        'joker': $("#joker").val() || 'X',
                        'other': $("#other").val() || 'X',
                        'description': $('textarea[name=description]').val()
                    },
                    'dataType': 'json',
                    'success': function (data) {
                        if (data.success) {
                            exibirMensagem('<b>AVISO:</b> XPromo <b>' + $('#saida-xpromo').html() + '</b> incluído com sucesso.', 'success');
                            $('button[name=gravar_xpromo]').show();
                            return;
                        } else {
                            if (data.is_registered) {
                                exibirMensagem('<b>ERRO:</b> Este XPromo já foi incluído anteriormente.', 'danger');
                                $('button[name=gravar_xpromo]').show();
                                return;
                            }
                        }

                    }
                });
            });

            $('button.btn-categoria').on('click', function() {
                // muda o "visual"
                $('button.btn-categoria').removeClass('btn-info');
                $(this).addClass('btn-info');

                // grava o dado relacionado ao botao, para adicionar à descrição.
                var data = $(this).data('value');
                document.getElementsByName('categoria')[0].value = data;

                var conteudo = $.trim($('textarea[name=description]').val().replace('#free', '').replace('#paid', ''));
                if (data != "") {
                    conteudo = data + " " + conteudo;
                }
                $('textarea[name=description]').val(conteudo);
            });
        });
    </script>
{% endblock %}