{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container" id="container-xpromo-lote">
        <div>
            <p>
                entre com a lista de xpromos a processar na caixa abaixo, <b>um por linha</b><br>
                o formato deve ser:
            </p>
            <p>XPROMO;descricao</p>
            <p>
                separados por <b>ponto-e-vírgula (;)</b>
            </p>
        </div>

        {% if mensagem %}
            <div class="mensagem-retorno bg-{{ divclass }} text-{{ divclass }}">{{ mensagem }}</div>
        {% endif %}

        {% if errors %}
            <div class="bg-danger text-danger mensagem-retorno">
                <p>Erros no processamento:</p>
                <ul>
                    {% for error in errors %}
                        <li>{{ error[0] }} - {{ error[1] }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if added %}
            <div class="bg-info text-info mensagem-retorno">
                <p>Registrado com sucesso:</p>
                <ul>
                    {% for a in added %}
                        <li>{{ a[0] }} - {{ a[1] }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form class="form" action="{{ url_for('gerador_app.gravar_lote') }}" name="form-xpromo-lote" method="post">
            <div class="form-group">
                <textarea name="xpromos" id="xpromos" class="form-control">{% if error_lines %}{{ "\n".join(error_lines) }}{% endif %}</textarea>
            </div>
            <button type="submit" class="btn btn-info">Gravar</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready(function() {
        $('#btn-incluir-lote').remove();
    });
    </script>
{% endblock %}